##
## Latex packages required by the templates and filters
## These packages are available in TeXLive 2022
##
## The list may contain duplicates, this is normal
##

# Lifesaver packages
collection-latexrecommended

# More fonts
fontawesome5
ly1
inconsolata
sourcesanspro
sourcecodepro
mweights

# For pandoc-latex-adminition filter
environ
mdframed
soul
soulutf8
tcolorbox

# For pandoc-latex-environment filter
tcolorbox
pgf
etoolbox
environ
trimspaces

# For awesomebox
fontawesome5
awesomebox

# For DALIBO templates
bclogo
lato
tocloft
wrapfig

# for eisvogel template
# https://github.com/Wandmalfarbe/pandoc-latex-template/blob/c255d9d4c556647c0dfe0d7806016eaced67a147/.github/workflows/build-examples.yml
abstract
adjustbox
babel-german
background
bidi
catchfile
collectbox
csquotes
everypage
filehook
footmisc
footnotebackref
framed
fvextra
hardwrap
incgraph
letltxmacro
lineno
listingsutf8
ly1
koma-script
mdframed
mweights
needspace
pagecolor
sectsty
sourcecodepro
sourcesanspro
titlesec
titling
transparent
ucharcat
ulem
unicode-math
upquote
xecjk
xurl
zref

# for leaflet template
leaflet

# For letter template
wallpaper

# for dutch
charter
cm-super
xpatch

# for minted
minted

##
## Misc.
##

# https://github.com/dalibo/pandocker/issues/238#issuecomment-1287170507
enumitem
